{% extends 'extends/navlist.html' %}


{% block content %}
<div class="container mt-4">
    <h2>Upcoming Trips</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Journey Date</th>
                <th>Return Date</th>
                <th>Driver Name</th>
                <th>Car Name</th>
                <th></th>
            </tr>
            {% for r in upcomming %}
            <tr>
                <th>{{r.start_date}}</th>
                <th>{{r.end_date}}</th>
                <th><a href="/driver-profile/{{r.driver.id}}">{{r.driver}}</a></th>
                <th>{{r.car}}</th>
                <th><a href="/cancel-trip/{{r.id}}"><i class="fa fa-times" aria-hidden="true"></i></a></th>
            </tr>
            {% endfor %}
        </thead>
        <tbody>

        </tbody>
    </table>
</div>



{% endblock %}